*{
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::placeholder {
  color: #000000;
  opacity: 1; /* Firefox */
}

html{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main{
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}

img{
  height: 25px;
}

hr{
  margin-top: 20px;
}

.info{
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
}

.info p{
  margin-left: 10px;
  padding-top: 5px;
}

.input{
  display: flex;
  justify-content: flex-start;
}

.input input{
  font-size: 50px;
  border: none;
  width: 50%;
  color: #000;
}

.input select{
  font-size: 40px;
  border: none;
}

.hint{
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  color: gray;
}



#receive{
  margin-top: 20px;
}


