/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  margin: 0;
  font-family: 'Hind', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input{
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select{
  -webkit-appearance: none;
  background-color: white;
}

::placeholder {
  color: #000000;
  opacity: 1; /* Firefox */
}

html{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main{
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}

img{
  height: 30px;
}

hr{
  margin-top: 20px;
  background-color: gray;
}

.info{
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
}

.info p{
  margin-left: 10px;
  margin-top: 5px;
}

.input{
  display: flex;
  justify-content: space-between;

  margin-top: 5px;
}

.input input{
  font-size: 60px;
  border: none;
  width: 60%;
  color: #000;
  padding-top: 10px;
  height: 50px;
}

.input select{
  font-size: 40px;
  border: none;
  background-image: url(assets/select-arrow.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 10px;
  padding-right: 25px;
  color: rgb(140, 140, 140);
  text-align: right;
  margin-top: 10px;
  height: 50px;
}

.hint{
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  margin-top: 5px;
  color: black;
}

#receive{
  margin-top: 20px;
}


