*{
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main{
  width: 80%;
  margin-top: 20px;
  margin-left: 20%;
}

img{
  height: 25px;
}

.info p{
  margin-left: 10px;
  padding-top: 5px;
}

.info{
  display: flex;
  justify-content: flex-start;
}

.input{
  display: flex;
  justify-content: flex-start;
}

.input input{
  font-size: 60px;
  border: none;
  width: 50%;
  color: #000;
}

.input select{
  font-size: 40px;
  border: none;
}

#receive{
  margin-top: 20px;
}


